<div class="container">
  <h2 class="navy"><%= @unit.ad_name %></h2>
  <p>TOTAL NUMBER OF INQUIRIES: <%= @unit.inquiries.count %></p>
  <p>AVERAGE NIGHTLY COST: $<%= get_avg_price(@unit.id) %></p>
  <% @unit.inquiries.each do |inq| %>
    <div class="panel">
      <div class="panel-heading inquiry-header">
        <h4>#<%= inq.id %></h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <h5 class="navy">Contact Info</h5>
            <div class="row">
              <div class="col-xs-3">
                <p class="light-blue margin-bottom-0">FIRST NAME</p>
                <p><%= inq.first_name %></p>
              </div>
              <div class="col-xs-3">
                <p class="light-blue margin-bottom-0">LAST NAME</p>
                <p><%= inq.last_name %></p>
              </div>
            </div>
            <p class="light-blue margin-bottom-0">EMAIL ADDRESS</p>
            <p><%= inq.email %></p>
            <p class="light-blue margin-bottom-0">PHONE NUMBER</p>
            <p><%= inq.phone_number %></p>
          </div>
          <div class="col-xs-6">
            <h5 class="navy">Reservation Details</h5>
            <div class="row">
              <div class="col-xs-4">
                <p class="light-blue margin-bottom-0">RESERVATION DATES</p>
                <p><%= inq.arrival_date %> <span class="glyphicon glyphicon-arrow-right"></span> <%= inq.departure_date %></p>
              </div>
              <div class="col-xs-4">
                <p class="light-blue margin-bottom-0">TOTAL NIGHTS RENTED</p>
                <p><%= inq.total_nights_rented %> nights</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <p class="light-blue margin-bottom-0">TOTAL PRICE</p>
                <p><%= number_to_currency(inq.price) %></p>
              </div>
              <div class="col-xs-4">
                <p class="light-blue margin-bottom-0">TAXES WITHHELD</p>
                <p><%= number_to_currency(inq.taxes_withheld) %></p>
              </div>
            </div>
            <p class="light-blue margin-bottom-0">SOURCE</p>
            <p><%= inq.rental_site %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
